$white:          #fff;
$grey-lightest:  #f2f5f7;
$grey-lighter:   #dadcdf;
$grey-light:     #a1a5a9;
$grey:           #74787d;
$grey-dark:      #47484a;
$grey-darker:    #2e2e2e;
$grey-darkest:   #1a1a1a;
$black:          #000;

$orange-lightest: #FFD2B2;
$orange-lighter:  #FFA666;
$orange-light:    #FF8126;
$orange:          #FF791A;
$orange-dark:     #E66000;
$orange-darker:   #CC5500;

$turq-lightest:   #A2F2FA;
$turq-lighter:    #50D7E5;
$turq-light:      #28B8C7;
$turq:            #099AAA;
$turq-dark:       #00818F;
$turq-darker:     #006A75;



// // brand colours
// $b-red: #ff0000;