<div class="banner banner--story">
  <div class="banner__bg" style="background-image: url('{{site.img}}/banners/{{page.id}}.jpg')"></div>
  <div class="banner__fade"></div>
</div>

<div class="story__intro">
  <div class="width width--xl text--center">
    <h1 class="title title--xxl">{{page.title}}</h1>
    <div class="space--xxs"></div>
    <div class="text--xxl">By <span class="text--bold">{{page.author}}</span> / <a class="text--bold" href="https://www.instagram.com/{{page.instagram}}" target="_blank">{{page.instagram}}</a></div>
    <hr class="hr--center">
    <p class="text--xxl">{{page.intro}}</p>
    <hr class="hr--center">
  </div>
</div>
