<div class="vpad--xxxxl bg--img" style="background-image: url({{site.img}}/content/promo-competition.jpg);">
  <div class="container container--lg text--center text--white">
    <h2 class="title title--xl text--bold">Win your very own wellbeing escape</h2>
    <p class="text--xxl">Ready to reset? We’ll send you to the breathtaking landscapes of the Lake District for a truly refreshing escape.</p>
    <div class="space--xs"></div>
    <a href="{{site.baseurl}}/competition/" class="btn btn--orange">Enter now</a>
  </div>
</div>