<div class="vpad--xxxl bg--img" style="background-image: url({{site.img}}/img.jpg);">
  <div class="container container--xl text--center text--white">
    <h2 class="title title--xl text--bold">Enter now to win</h2>
    <p>Donec id elit non mi porta gravida at eget metus. Curabitur blandit tempus porttitor. Etiam porta sem malesuada magna mollis euismod. Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
    <div class="space--xs"></div>
    <a href="{{site.baseurl}}/competition/" class="btn btn--orange">Enter now</a>
  </div>
</div>