---
layout: default
id: dorset-cereals
title: Dorset Cereals
nav: true
nav-order: 4

banner:
  content: >
    <div class="container text--center">
      <div class="banner__partner-logo banner__partner-logo--top"></div>
      <h1 class="banner-title">Breakfast on the Slow</h1>
      <div class="space--xs"></div>
      <div class="title--md">Be more dorset</div>
    </div>


intro: >
  <p class="text--xxl">Take some time to savour the moment and enjoy those simple pleasures. This can be as simple as spending a little more time with family or friends, or going all out and taking a week away, without any technology, and indulging in a bit of peace and quiet. As life becomes more and more hectic, savouring those good bits is more important than ever. </p>
  <p class="text--xxl">So start at the beginning; breakfast. There’s no need to rush; it’s good for you and starts your day on the right foot, letting you spend a little more time with loved ones around the kitchen table. So take breakfast on the slow, and the rest is sure to follow.  Time to relish those fleeting moments. </p>

dorset-highlights:
  - id: dorset
    content: Dorset cereals are based in dazzling Dorset, making cereals that are worth slowing down for and savouring.
  - id: breakfast
    content: Despite all the haste and hurry in life, dorset cereals believes in creating a calm moment of pleasure at the start of the day. They call it Breakfast on the Slow.
  - id: muesli
    content: The muesli range is high in fibre, as well as being suitable for vegans too, giving you even more reasons for a Breakfast on the Slow.
  - id: trees
    content: Dorset cereals love trees, and all the good they do for our planet. So to date, they’ve worked with the Woodland Trust to plant over 38,000 of them across the UK.

products:
  - id: classic
    title: Classic fruit, nuts & seeds muesli
  - id: organic
    title: Our lovely organic muesli
  - id: fantastically-fruity
    title: Fantastically fruity muesli
  - id: simply-fruity
    title: Simply fruity muesli
  - id: simply-nutty
    title: Simply nutty muesli
  - id: high-fibre
    title: Fabulously high fibre muesli
  - id: simply-delicious
    title: Simply delicious muesli
  - id: gloriously-nutty
    title: Gloriously nutty muesli
  - id: luscious-berry
    title: Luscious berry & cherry muesli
  - id: tasty-toasted
    title: Tasty toasted spelt flakes muesli
  - id: blissful-berry-muesli-gf
    title: Gluten Free Blissful Berry Muesli
  - id: tasty-tropical-muesli-gf
    title: Gluten Free Tasty Tropical Muesli
  - id: berry-granola
    title: Berry Granola
  - id: choc-cherry-granola
    title: Choc Cherry Granola
  - id: honey-granola
    title: Honey Granola
  - id: nutty-granola
    title: Nutty Granola
  - id: simply-oat-granola
    title: Simply Oat Granola

---

<div class="bg--navy-texture">
  <div class="vpad--xl">
    <div class="container">
      <div class="width width--lg text--center">
        {{page.intro}}
      </div>
    </div>
  </div>



  <div class="container container--xxl">

    {% for highlight in page.dorset-highlights %}
    <div class="bob{% cycle '', ' bob--swap' %}">
      <div class="bob__img">
        <div class="bg-img bg-img--16-9 bg-img--leaf-sm" style="background-image: url({{site.img}}/content/{{page.id}}/{{highlight.id}}.jpg);"></div>
      </div>
      <div class="bob__text">
        <div class="title title--xxs">{{highlight.content}}</div>
      </div>
    </div>
    {% endfor %}
  </div>



  <div class="container">

    <div class="text--center">
      <h2 class="title title--lg">Discover the range</h2>
      <div class="space--lg"></div>
    </div>

    <div class="row">
      {% for product in page.products %}
      <div class="col col--3">
        <div class="bg-img bg-img--1-1" style="background-image: url({{site.img}}/products/{{product.id}}.jpg);"></div>
        <div class="boxpad--sm text--center">
          <h4 class="title title--sans title--xxxs text--bold">{{product.title}}</h4>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>


  <div class="space--xxl"></div>
</div>


{% include page/promo-competition.html %}