---
layout: default
id: dorset-cereals
title: Dorset Cereals
nav: true
nav-order: 4

banner:
  content: >
    <div class="container container--no-padding text--center">
      <img style="width: 60%; max-width: 200px;" src="{{site.img}}/logo/partner.svg" alt="{{site.client.name}} Logo">
      <div class="space--md"></div>
      <h1 class="banner-title">Breakfast on the Slow</h1>
      <div class="space--xs"></div>
      <div class="title--md">Be more Dorset</div>
    </div>
  no-logo-bar: true


intro: >
  <p class="text--xxl">Take some time to savour the moment and enjoy those simple pleasures. This can be as easy as spending a little more time with family or friends, or going all out and taking a week away, without any technology, and indulging in a bit of peace and quiet. As life becomes more and more hectic, savouring those good bits is more important than ever.</p>
  <p class="text--xxl">So start at the beginning; breakfast. There’s no need to rush; it’s good for you and starts your day on the right foot, letting you spend a little more time with loved ones around the kitchen table. So take Breakfast on the Slow, and the rest is sure to follow. Time to relish those moments.</p>

dorset-highlights:
  - id: dorset
    content: Based in dazzling Dorset, dorset cereals make cereals that are worth slowing down for and savouring.
  - id: breakfast
    content: Despite all the haste and hurry in life, dorset cereals believes in creating a calm moment of pleasure at the start of the day. They call it Breakfast on the Slow.
  - id: muesli
    content: The muesli range is high in fibre, as well as being suitable for vegans too, giving you even more reasons for a Breakfast on the Slow.
  - id: trees
    content: They love trees, and all the good they do for our planet. So to date, dorset cereals have worked with the Woodland Trust to plant over 38,000 of them across the UK.

products:
  - id: classic
    title: Classic fruit, nuts & seeds muesli
    link: https://www.dorsetcereals.co.uk/things-we-make/product/classic-fruits-nuts-and-seeds-muesli/
  - id: organic
    title: Our lovely organic muesli
    link: https://www.dorsetcereals.co.uk/things-we-make/product/our-lovely-organic-muesli/
  - id: fantastically-fruity
    title: Fantastically fruity muesli
    link: https://www.dorsetcereals.co.uk/things-we-make/product/fantastically-fruitymuesli/
  - id: simply-fruity
    title: Simply fruity muesli
    link: https://www.dorsetcereals.co.uk/things-we-make/product/simply-fruity-muesli/
  - id: simply-nutty
    title: Simply nutty muesli
    link: https://www.dorsetcereals.co.uk/things-we-make/product/simply-nutty-muesli/
  - id: high-fibre
    title: Fabulously high fibre muesli
    link: https://www.dorsetcereals.co.uk/things-we-make/product/fabulously-high-fibre-muesli/
  - id: simply-delicious
    title: Simply delicious muesli
    link: https://www.dorsetcereals.co.uk/things-we-make/product/simply-delicious-muesli/
  - id: gloriously-nutty
    title: Gloriously nutty muesli
    link: https://www.dorsetcereals.co.uk/things-we-make/product/gloriouslyroastednutmuesli/
  - id: luscious-berry
    title: Luscious berry & cherry muesli
    link: https://www.dorsetcereals.co.uk/things-we-make/product/luscious-berries-cherries-muesli/
  - id: tasty-toasted
    title: Tasty toasted spelt flakes muesli
    link: https://www.dorsetcereals.co.uk/things-we-make/product/tasty-toasted-spelt-flakes-muesli/
  - id: blissful-berry-muesli-gf
    title: Gluten Free Blissful Berry Muesli
    link: https://www.dorsetcereals.co.uk/things-we-make/product/blissful-berry-muesli/
  - id: tasty-tropical-muesli-gf
    title: Gluten Free Tasty Tropical Muesli
    link: https://www.dorsetcereals.co.uk/things-we-make/product/tasty-tropical-muesli/
  - id: berry-granola
    title: Berry Granola
    link: https://www.dorsetcereals.co.uk/things-we-make/product/berry-granola/
  - id: choc-cherry-granola
    title: Choc Cherry Granola
    link: https://www.dorsetcereals.co.uk/things-we-make/product/chocolate-granola/
  - id: honey-granola
    title: Honey Granola
    link: https://www.dorsetcereals.co.uk/things-we-make/product/honey-granola/
  - id: nutty-granola
    title: Nutty Granola
    link: https://www.dorsetcereals.co.uk/things-we-make/product/simply-nut-granola/
  - id: simply-oat-granola
    title: Simply Oat Granola
    link: https://www.dorsetcereals.co.uk/things-we-make/product/simply-oat-granola/

---

<div class="bg--navy-texture">

  <div class="space--sm"></div>
  <div class="container">
    <div class="width width--lg text--center">
      {{page.intro}}
    </div>
  </div>
  <div class="space--xxxl"></div>


  <div class="container container--xxl">

    {% for highlight in page.dorset-highlights %}
    <div class="bob{% cycle '', ' bob--swap' %}">
      <div class="bob__img">
        <div class="bg-img bg-img--16-9 bg-img--leaf-sm" style="background-image: url({{site.img}}/content/{{page.id}}/{{highlight.id}}.jpg);"></div>
      </div>
      <div class="bob__text">
        <div class="title title--xxs">{{highlight.content}}</div>
      </div>
    </div>
    {% endfor %}
  </div>



  <div class="container">

    <div class="text--center">
      <h2 class="title title--lg">Discover the range</h2>
      <div class="space--lg"></div>
    </div>

    <div class="row">
      {% for product in page.products %}
      <div class="col col--md-6 col--xl-3">
        <div class="width width--sm">
          <div class="bg-img bg-img--1-1" style="background-image: url({{site.img}}/products/{{product.id}}.jpg);">
            <a id="track-{{page.id}}-{{product.id}}-img" class="bg-img__link" href="{{product.link}}" target="_blank"></a>
            <div class="bg-img__overlay bg-img__overlay--transparent"></div>
          </div>
          <div class="boxpad--sm text--center">
            <h4 class="title title--sans title--xxxs text--bold"><a id="track-{{page.id}}-{{product.id}}-text" class="text--white" href="{{product.link}}" target="_blank">{{product.title}}</a></h4>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>


  <div class="space--xxl"></div>
</div>


{% include page/promo-competition.html %}