---
layout: default
id: overview
title: Overview
nav: true
nav-order: 1

travel-stories: true

banner:
  title: >
    <div style="margin: auto; max-width: 600px; padding: 0 1.25rem;">
      <img src="{{site.img}}/banners/overview-title.svg" alt="The Dorset Wellbeing Collection">
      <div class="space--md banner__partnership-space"></div>
    </div>
  blue-logo-bar: true

intro: >
  <p class="text--xxl">Life can be hectic. That’s why we’ve partnered with dorset cereals to help slow things down a touch. Discover handpicked wellbeing escapes, perfect for your digi-detox, outdoor fix, or just because you want a quick getaway, and indulge in those little moments. From refreshing coastal digs to enviable spa retreats, take some time to really enjoy those special adventures, big and small. Discover a world of wellbeing here.</p>

---

<div class="bg--navy-texture">

  <div class="vpad--xl">
    <div class="container">
      <div class="width width--xl text--center">
        {{page.intro}}
      </div>
    </div>
  </div>



  {% if page.travel-stories %}

  <div class="container">
    <div class="row row--no-gutters">

      <div class="col col--xxl-6">
        {% assign wellbeing-tips = site.html_pages | where: 'id', 'wellbeing-tips' %}
        {% for page in wellbeing-tips %}
        <div class="overview-tile bg-img bg-img--16-9 bg-img--lg-16-9 bg-img--xxl-1-1" style="background-image: url({{site.img}}/banners/{{page.id}}.jpg);">
          <a href="{{site.baseurl}}{{page.url}}" class="bg-img__link"></a>
          <div class="bg-img__overlay"></div>
          <div class="bg-img__content">
            <div>
              <h2 class="title title--lg text--bold">{{page.overview.title}}</h2>
              <p class="text--xxl">{{page.overview.intro}}</p>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>



      <div class="col col--xxl-6">
        <div class="row row--no-gutters">

          {% assign travel-stories = site.html_pages | where: 'layout', 'story' %}
          {% for story in travel-stories %}
          <div class="col col--xxl-12 col--lg-6">
            <div class="overview-tile bg-img bg-img--16-9 bg-img--xxl-2-1" style="background-image: url({{site.img}}/banners/{{story.id}}.jpg);">
              <a href="{{site.baseurl}}{{story.url}}" class="bg-img__link"></a>
              <div class="bg-img__overlay"></div>
              <div class="bg-img__content">
                <div class="boxpad--lg">
                  <div class="text--upper text--wide text--bold">Travel story</div>
                  <h2 class="title title--lg text--bold">{{story.title}}</h2>
                  <div class="text--xl">By <span class="text--bold">{{story.author}}</span> / <span class="text--bold">{{story.instagram}}</span></div>
                </div>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>

  {% else %}

  <div class="container container--xx1">
    <div class="row row--no-gutters">
      <div class="col col--12">
        <div class="bg-img bg-img--2-1 bg-img--leaf" style="background-image: url({{site.img}}/img.jpg);">
          <a href="{{site.baseurl}}/wellbeing-tips/" class="bg-img__link"></a>
          <div class="bg-img__overlay"></div>
          <div class="bg-img__content">
            <h2 class="title title--lg text--bold">Wellbeing tips</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endif %}

  <div class="space--xxxl"></div>
  {% include page/promo-competition.html %}

</div><!-- end .bg--navy-texture -->



<div class="space--xxxl"></div>

<div class="container">

  <div class="text--center">
    <h2 class="title title--lg">Our Escapes</h2>
    <div class="space--lg"></div>
  </div>
  {% include offer/variables.html %}
  <div class="row row--xl-6-6 row--gutters-lg">
    {% for offer in offers-by-price %}
    {% if forloop.index <= 2 %}
      <div class="col">
        {% include offer/offer.html %}
      </div>
    {% endif %}
    {% endfor %}
  </div>
  <div class="text--center">
    <div class="space--xxl"></div>
    <a href="{{site.baseurl}}/offers/" class="btn btn--orange">View all offers</a>
  </div>

</div>


<div class="space--xxl"></div>