// the title banner that appears at the top of every page. sometimes animated bgs

.banner {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  height: 100%;
  min-height: 450px;
  max-height: 700px;
  color: $white;
  background-color: $grey;
  @include bp($lg){
    height: 85%;
    min-height: 650px;
    max-height: none;
  }

  // Story page layout
  &--story {
    min-height: 400px;
    @include bp($lg){ height: 50%; }
  }

  &__wrap {
    position: relative;
    z-index: $z-content-upper;
    display: flex;
    width: 100%;
    flex-grow: 1;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    @include page-padding;
  }
  &__bg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: $z-content;
    background-color: $grey-dark;
    @include background-attributes;
    // Story page layout fade
    .banner--story &:before {
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      height: 200px;
      background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
      background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
      background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
    }
  }
  &__nav {
    // optional container for navigation include
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: $z-nav;
    &--top {
      top: 0;
      bottom: auto;
    }
  }
  &__title-image {
    background-image: url('../img/banners/overview-title.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    position: relative;
    margin: auto;
    width: 80%;
    max-width: 640px;
    &:before {
      content: "";
      display: block;
      width: 100%;
      padding-top: 45%;
    }
  }

  &__partner-logo {
    background-image: url('../img/logo/partner.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    position: relative;
    margin: auto;
    width: 60%;
    max-width: 200px;
    &:before {
      content: "";
      display: block;
      width: 100%;
      padding-top: 58.4%;
    }
    &--top { margin-bottom: 10px; }
  }
}