// general styles for the project that wouldn't be a reuseable component

.image-caption {
  text-align: center;
  color: $grey;
  font-size: 0.85em;
  padding: 4px 0;
  border-bottom: 1px solid $grey-lighter;
}
