---
layout: default
id: wellbeing-tips
title: Wellbeing Tips
nav: true
nav-order: 2

intro: >
  <p class="text--xl">Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Nullam quis risus eget urna mollis ornare vel eu leo.</p>

tips:
  - title: Title
    content: Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Sed posuere consectetur est at lobortis. Nulla vitae elit libero, a pharetra augue.
  - title: Title
    content: Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Sed posuere consectetur est at lobortis. Nulla vitae elit libero, a pharetra augue.
  - title: Title
    content: Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Sed posuere consectetur est at lobortis. Nulla vitae elit libero, a pharetra augue.
  - title: Title
    content: Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Sed posuere consectetur est at lobortis. Nulla vitae elit libero, a pharetra augue.
  - title: Title
    content: Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Sed posuere consectetur est at lobortis. Nulla vitae elit libero, a pharetra augue.
  - title: Title
    content: Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Sed posuere consectetur est at lobortis. Nulla vitae elit libero, a pharetra augue.

---

<div class="vpad--xl">
  <div class="container">
    <div class="width width--lg text--center">
      {{page.intro}}
    </div>
  </div>
</div>


<div class="container container--xxl">
  {% for tip in page.tips %}
  <div class="bob{% cycle '', ' bob--swap' %}">
    <div class="bob__img">
      <div class="bg-img bg-img--3-2 bg-img--leaf-sm" style="background-image: url({{site.img}}/img.jpg);"></div>
    </div>
    <div class="bob__text">
      <h2 class="title title--sm">{{tip.title}}</h2>
      <div class="space--xxs"></div>
      <p>{{tip.content}}</p>
    </div>
  </div>
  {% endfor %}
</div>


<div class="container">

  <div class="text--center">
    <h2 class="title title--lg">Continue reading about wellbeing</h2>
    <div class="space--lg"></div>
  </div>

  <div class="row">
    {% assign stories = site.html_pages | where: 'layout', 'story' %}
    {% for story in stories %}
    <div class="col col--6">
      <div class="bg-img bg-img--1-1" style="background-image: url({{site.img}}/banners/{{story.id}}.jpg);">
        <a href="{{site.baseurl}}/{{story.url}}" class="bg-img__link"></a>
        <div class="bg-img__overlay"></div>
        <div class="bg-img__content">
          <div class="boxpad--lg">
            <h2 class="title title--md">{{story.title}}</h2>
            <p>{{story.intro}}</p>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>


<div class="space--xxl"></div>


{% include page/promo-competition.html %}