---
layout: default
---
{% assign group-pages = site.html_pages | where: 'group-id', page.id %}


<div class="vpad--xl">
  <div class="container">
    <div class="width width--lg text--center">
      {{page.intro}}
    </div>
  </div>
</div>


<div class="container">
  <div class="row row--6-6">
    {% for group-page in group-pages %}
    <div class="col">
      <div class="bg-img bg-img--1-1 text--white" style="background-image: url({{site.img}}/banners/{{group-page.id}}.jpg);">
        <a href="{{site.baseurl}}{{group-page.url}}" class="bg-img__link"></a>
        <div class="bg-img__overlay"></div>
        <div class="bg-img__content">
          <div class="boxpad--lg">
            <h2 class="title title--lg">{{group-page.title}}</h2>
            <div class="text--xl">By <span class="text--bold">{{group-page.author}}</span> / <span class="text--bold">{{group-page.instagram}}</div>
            <div class="space--xxs"></div>
            <hr class="hr--center">
            <p>{{ group-page.intro | truncate:160 }}</p>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>


<div class="space--xxl"></div>

